@page
@model DaprWebApp.Pages.LocalSecretModel
@{
    ViewData["Title"] = "Local secret";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">State front sample</a>.</p>
    <p>Stored by state front data is @ViewData["secretData"]</div></p>
</div>