@page
@model DaprWebApp.Pages.PubSubModel
@{
    ViewData["Title"] = "PubSubtModel";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">PubSub sample</a>.</p>
    <p>Publish Was Completed</div></p>
</div>